.richtextboxmain {
    border: 1px solid #877e7e;

}
.richtextboxheader {
    display: flex;
    align-items: center;
    overflow: auto;
    padding: 8px 10px;
}
.editablecontainarea {
    overflow-y: auto;
    outline: 0;
    border: 0;
}
.richtextboxheader .btn {
    margin-left: 5px;
    /*border-right: 1px solid #877e7e;;*/
}

.richtextboxheader .btn button {
    background: none;
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}
.richtextboxheader  {
    border-bottom: 1px solid #877e7e;
}

/*.textcolorbtn .s0 {fill: #000000}*/
.textcolorbtn .s1 {fill: #000000;}
.textbgbtn .s0 {fill: #000000}



.addLinkDialog {
    position: absolute;
    background: white;
    border: 1px solid gray;
    padding: 10px;
    margin-right: 90px;
    box-shadow: 0px 7px 17px -8px;
}

.addLinkDialog .rtextInputDiv {
    width: 100%;
}

.addLinkDialog .rtextButton {
    display: flex;
    justify-content: right;
}
.addLinkDialog .rtext {
    padding: 5px;
    margin-top: 2px;
    margin-bottom: 5px;
}
.addLinkDialog .btngroup {
    width: 100%;
    display: flex;
    justify-content: right;
}
.addLinkDialog .btn {
    cursor: pointer;
}
.addLinkDialog .btnAdd {
        background: dodgerblue !important;
        border: 1px solid !important;
        color: white;
        padding: 5px 10px;
        margin-left: 5px;
}
.addLinkDialog .btnCancel {
    background: white !important;
    border: 1px solid !important;
    color: black;
    padding: 5px 10px;
}
.rte-image.selected{
    border: 1px dashed dodgerblue;
    padding: 1px;
    cursor: nwse-resize;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

